<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Nikz Jon">
    <link rel="icon" type="image/png" href="/images/icon.png">
    <title>Nikz Jon</title>
    <!-- CSS -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/css/font-awesome.min.css" rel="stylesheet" media="screen">
    <link href="/css/simple-line-icons.css" rel="stylesheet" media="screen">
    <link href="/css/animate.css" rel="stylesheet">
    <!-- Custom styles CSS -->
    <link href="/css/style.css" rel="stylesheet" media="screen">
    <script src="/js/modernizr.custom.js"></script>
    <noscript>
    <style>
        body header,body footer, body section, body #preloader, body .scroll-up{ 
            display: none;
        }
        div.nojs{
            display: block;
        }
        *, *::before, *::after { box-sizing: border-box; color: #666; }
        .container{
          max-width:80%;
          padding-right: 15px;
          padding-left: 15px;
          margin-top: 400px;
          margin-right: auto;
          margin-left: auto;
        }
        .container::before, .row::before, .container::after, .row::after { 
          display: table;
          content: " ";
          clear: both;
        }
        .row{
          margin-right: -15px;
          margin-left: -15px;
        }
        .col{
          margin: auto;
          position: relative;
          min-height: 1px;
          padding-right: 15px;
          padding-left: 15px;
        }
        .pfblock-header{
          text-align: center;
          margin: 0px 0px 60px;
        }
        .pfblock-title{
          font-weight: 800;
          font-size: 30px;
          margin: 0px 0px 30px;
          letter-spacing: 5px;
          color: #222;
        }
        .pfblock-line{
          background: rgba(135, 135, 135, 0.5) none repeat scroll 0% 0%;
          width: 100px;
          height: 1px;
          margin: 30px auto;
        }
        .pfblock-subtitle{
          font-style: normal;
          font-size: 18px;
        }
    </style>
    <div class="nojs">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="pfblock-header">
              <h1 class="pfblock-title">#StopAbusingJS</h1>
              <div class="pfblock-line"></div>
              <div class="pfblock-subtitle">
                 Now... Get the fuck out of my site, bitch!
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </noscript>

</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div id="status"></div>
    </div>
    <!-- Home start -->
    <section id="home" class="pfblock-image screen-height">
        <div class="home-overlay"></div>
        <div class="intro">
            <div class="start"><img src="/images/icon-alt.png" alt="logo"></div>
            <h1 class="title-font">Nikz Jon</h1>
            <div class="start start-push-back">I am
                <ul class="start-list">
                    <li>a geek</li>
                    <li>an artist</li>
                    <li>a human</li>
                    <li>a mozillian</li>
                    <li>a developer</li>
                    <li>a free thinker</li>
                </ul>
            </div>
        </div>
        <a href="#passions">
            <div class="scroll-down">
                <span>
                <i class="fa fa-angle-down fa-2x"></i>
            </span>
            </div>
        </a>
    </section>
    <!-- Home end -->
    <!-- Navigation start -->
    <header class="header">
        <nav class="navbar navbar-custom" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#custom-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#home"><img src="/images/icon.png" height="40px" width="auto">Nikz Jon</a>
                </div>
                <div class="collapse navbar-collapse" id="custom-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#home">Home</a></li>
                        <li><a href="#passions">Passions</a></li>
                        <li><a href="#portfolio">Works</a></li>
                        <li><a href="#skills">Skills</a></li>
                        <li><a href="#testimonials">Testimonials</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
            <!-- .container -->
        </nav>
    </header>
    <!-- Navigation end -->
    <!-- Services start -->
    <section id="passions" class="pfblock pfblock-gray">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="pfblock-header wow fadeInUp">
                        <h2 class="pfblock-title">This is what I do</h2>
                        <div class="pfblock-line"></div>
                        <div class="pfblock-subtitle">
                            Do research on the past
                            <br> Take input from present
                            <br>Plan it all for the future
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="iconbox wow slideInLeft">
                        <div class="iconbox-icon">
                            <span class="icon-heart"></span>
                        </div>
                        <div class="iconbox-text">
                            <h3 class="iconbox-title">Art</h3>
                            <div class="iconbox-desc">
                                Always been an inspirational artist. Btw, now its all digital.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="iconbox wow slideInLeft">
                        <div class="iconbox-icon">
                            <span class="icon-magic-wand"></span>
                        </div>
                        <div class="iconbox-text">
                            <h3 class="iconbox-title">Web Design</h3>
                            <div class="iconbox-desc">
                                Keeping things clean, responsive, readable, ordered is my style.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="iconbox wow slideInLeft">
                        <div class="iconbox-icon">
                            <span class="icon-puzzle"></span>
                        </div>
                        <div class="iconbox-text">
                            <h3 class="iconbox-title">Web Programming</h3>
                            <div class="iconbox-desc">
                                Started with PHP... Rails... Perl... Python... Now its all about Node.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="iconbox wow slideInLeft">
                        <div class="iconbox-icon">
                            <span class="icon-wrench"></span>
                        </div>
                        <div class="iconbox-text">
                            <h3 class="iconbox-title">Core Programming</h3>
                            <div class="iconbox-desc">
                                Though I C @ 1st, Py is always a passion. But still, JS Rocks.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="iconbox wow slideInRight">
                        <div class="iconbox-icon">
                            <span class="icon-camera"></span>
                        </div>
                        <div class="iconbox-text">
                            <h3 class="iconbox-title">Photography</h3>
                            <div class="iconbox-desc">
                                Capturing perspectives of my eyes to next level of imagination.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="iconbox wow slideInRight">
                        <div class="iconbox-icon">
                            <span class="icon-game-controller"></span>
                        </div>
                        <div class="iconbox-text">
                            <h3 class="iconbox-title">Gaming</h3>
                            <div class="iconbox-desc">
                                Spending extra times with Dota 2 and beta testing other games.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="iconbox wow slideInRight">
                        <div class="iconbox-icon">
                            <span class="icon-globe-alt"></span>
                        </div>
                        <div class="iconbox-text">
                            <h3 class="iconbox-title">Mozilla</h3>
                            <div class="iconbox-desc">
                                Teaching web to the world. Contributing to open source.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="iconbox wow slideInRight">
                        <div class="iconbox-icon">
                            <span class="icon-diamond"></span>
                        </div>
                        <div class="iconbox-text">
                            <h3 class="iconbox-title">Business</h3>
                            <div class="iconbox-desc">
                                Following my dad's foot steps in the jewellery business.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- .row -->
        </div>
        <!-- .container -->
    </section>
    <!-- Services end -->
    <!-- Portfolio start -->
    <section id="portfolio" class="pfblock">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="pfblock-header wow fadeInUp">
                        <h2 class="pfblock-title">My works</h2>
                        <div class="pfblock-line"></div>
                        <div class="pfblock-subtitle">
                            Precisely Planned Projects
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="pfblock-header wow zoomIn">
                        <h3 class="pfblock-title">Will be added soon...</h3>
                    </div>
                </div>
            </div>
            
            <!-- .row
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="grid wow zoomIn">
                        <figure class="effect-bubba">
                            <img src="/images/item-1.jpg" alt="img01" />
                            <figcaption>
                                <h2>Crazy <span>Shark</span></h2>
                                <p>Lily likes to play with crayons and pencils</p>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="grid wow zoomIn">
                        <figure class="effect-bubba">
                            <img src="/images/item-2.jpg" alt="img01" />
                            <figcaption>
                                <h2>Funny <span>Tortoise</span></h2>
                                <p>Lily likes to play with crayons and pencils</p>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="grid wow zoomIn">
                        <figure class="effect-bubba">
                            <img src="/images/item-3.jpg" alt="img01" />
                            <figcaption>
                                <h2>The <span>Hat</span></h2>
                                <p>Lily likes to play with crayons and pencils</p>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="grid wow zoomIn">
                        <figure class="effect-bubba">
                            <img src="/images/item-4.jpg" alt="img01" />
                            <figcaption>
                                <h2>Bang <span>Bang</span></h2>
                                <p>Lily likes to play with crayons and pencils</p>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="grid wow zoomIn">
                        <figure class="effect-bubba">
                            <img src="/images/item-5.jpg" alt="img01" />
                            <figcaption>
                                <h2>Crypton <span>Dude</span></h2>
                                <p>Lily likes to play with crayons and pencils</p>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="grid wow zoomIn">
                        <figure class="effect-bubba">
                            <img src="/images/item-6.jpg" alt="img01" />
                            <figcaption>
                                <h2>Don't <span>Poke</span></h2>
                                <p>Lily likes to play with crayons and pencils</p>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div-->
        </div>
        <!-- .contaier -->
    </section>
    <!-- Portfolio end -->
    <!-- Skills start -->
    <section class="pfblock pfblock-gray" id="skills">
        <div class="container">
            <div class="row skills">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <div class="pfblock-header wow fadeInUp">
                            <h2 class="pfblock-title">My Skills</h2>
                            <div class="pfblock-line"></div>
                            <div class="pfblock-subtitle">
                                Never stops learning in your life.
                            </div>
                        </div>
                    </div>
                </div>
                <!-- .row -->
                <div class="col-sm-6 col-md-3 text-center">
                    <span data-percent="98" class="chart easyPieChart" style="width: 140px; height: 140px; line-height: 140px;">
                            <span class="percent">98</span>
                    </span>
                    <h3 class="text-center">Programming in JS</h3>
                </div>
                <div class="col-sm-6 col-md-3 text-center">
                    <span data-percent="98" class="chart easyPieChart" style="width: 140px; height: 140px; line-height: 140px;">
                            <span class="percent">98</span>
                    </span>
                    <h3 class="text-center">Web designing</h3>
                </div>
                <div class="col-sm-6 col-md-3 text-center">
                    <span data-percent="97" class="chart easyPieChart" style="width: 140px; height: 140px; line-height: 140px;">
                            <span class="percent">97</span>
                    </span>
                    <h3 class="text-center">Backend Development</h3>
                </div>
                <div class="col-sm-6 col-md-3 text-center">
                    <span data-percent="96" class="chart easyPieChart" style="width: 140px; height: 140px; line-height: 140px;">
                            <span class="percent">96</span>
                    </span>
                    <h3 class="text-center">System Programming</h3>
                </div>
                <div class="col-sm-6 col-md-3 text-center">
                    <span data-percent="94" class="chart easyPieChart" style="width: 140px; height: 140px; line-height: 140px;">
                            <span class="percent">94</span>
                    </span>
                    <h3 class="text-center">Graphics Designing</h3>
                </div>
                <div class="col-sm-6 col-md-3 text-center">
                    <span data-percent="90" class="chart easyPieChart" style="width: 140px; height: 140px; line-height: 140px;">
                            <span class="percent">90</span>
                    </span>
                    <h3 class="text-center">SQL / NoSQL</h3>
                </div>
                <div class="col-sm-6 col-md-3 text-center">
                    <span data-percent="88" class="chart easyPieChart" style="width: 140px; height: 140px; line-height: 140px;">
                            <span class="percent">88</span>
                    </span>
                    <h3 class="text-center">UX / UI</h3>
                </div>
                <div class="col-sm-6 col-md-3 text-center">
                    <span data-percent="78" class="chart easyPieChart" style="width: 140px; height: 140px; line-height: 140px;">
                            <span class="percent">78</span>
                    </span>
                    <h3 class="text-center">CMS Framework</h3>
                </div>
            </div>
            <!--End row -->
        </div>
    </section>
    <!-- Skills end -->
    <!-- CallToAction start -->
    <section class="calltoaction">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <h2 class="wow slideInRight" data-wow-delay=".1s">Got any questions for me?</h2>
                    <div class="calltoaction-decription wow slideInRight" data-wow-delay=".2s">
                        I'll always check my mails and telegram.
                    </div>
                </div>
                <div class="col-md-12 col-lg-12 calltoaction-btn wow slideInRight" data-wow-delay=".3s">
                    <a href="#contact" class="btn btn-lg">Mail me</a>
                </div>
            </div>
            <!-- .row -->
        </div>
        <!-- .container -->
    </section>
    <!-- CallToAction end -->
    <!-- Testimonials start -->
    <section id="testimonials" class="pfblock pfblock-gray">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="pfblock-header wow fadeInUp">
                        <h2 class="pfblock-title">What others say</h2>
                        <div class="pfblock-line"></div>
                        <div class="pfblock-subtitle">
                            Wanna know what others wanna say about me?
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="pfblock-header wow zoomIn">
                        <h3 class="pfblock-title">Will be added soon...</h3>
                    </div>
                </div>
            </div>

            <!-- .row 
            <div class="row">
                <div id="cbp-qtrotator" class="cbp-qtrotator">
                    <div class="cbp-qtcontent">
                        <img src="/images/client-1.jpg" alt="client-1" />
                        <blockquote>
                            <p>Work with John was a pleasure. He understood exactly what I wanted and created an awesome site for my company.</p>
                            <footer>Pino Caruso</footer>
                        </blockquote>
                    </div>
                    <div class="cbp-qtcontent">
                        <img src="/images/client-2.jpg" alt="client-2" />
                        <blockquote>
                            <p>I'm really happy with the results. Get 100% satisfaction is difficult but Alex got it without problems.</p>
                            <footer>Jane Doe</footer>
                        </blockquote>
                    </div>
                </div>
            </div>
             .row -->
        </div>
        <!-- .row -->
    </section>
    <!-- Testimonial end -->
    <!-- Contact start -->
    <section id="contact" class="pfblock">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="pfblock-header">
                        <h2 class="pfblock-title">Drop me a line</h2>
                        <div class="pfblock-line"></div>
                        <div class="pfblock-subtitle">
                            Happy to help with code. ^^
                        </div>
                    </div>
                </div>
            </div>
            <!-- .row -->
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <form id="contact-form" role="form">
                        <div class="ajax-hidden">
                            <div class="form-group wow fadeInUp">
                                <label class="sr-only" for="c_name">Name</label>
                                <input type="text" id="c_name" class="form-control" name="c_name" placeholder="Name">
                            </div>
                            <div class="form-group wow fadeInUp" data-wow-delay=".1s">
                                <label class="sr-only" for="c_email">Email</label>
                                <input type="email" id="c_email" class="form-control" name="c_email" placeholder="E-mail">
                            </div>
                            <div class="form-group wow fadeInUp" data-wow-delay=".2s">
                                <textarea class="form-control" id="c_message" name="c_message" rows="7" placeholder="Message"></textarea>
                            </div>
                            <button type="submit" class="btn btn-lg btn-block wow fadeInUp" data-wow-delay=".3s">Send Message</button>
                        </div>
                        <div class="ajax-response"></div>
                    </form>
                </div>
            </div>
            <!-- .row -->
        </div>
        <!-- .container -->
    </section>
    <!-- Contact end -->
    <!-- Footer start -->
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="social-links">
                        <li><a target="_blank" href="https://www.facebook.com/nikzjon" class="wow fadeInUp"><i class="fa fa-facebook"></i></a></li>
                        <li><a target="_blank" href="https://www.twitter.com/nikzjon" class="wow fadeInUp" data-wow-delay=".1s"><i class="fa fa-twitter"></i></a></li>
                        <li><a target="_blank" href="https://plus.google.com/u/0/104757374239013365812" class="wow fadeInUp" data-wow-delay=".2s"><i class="fa fa-google-plus"></i></a></li>
                        <li><a target="_blank" href="https://telegram.me/nikzjon" class="wow fadeInUp" data-wow-delay=".3s"><i class="fa fa-send"></i></a></li>
                        <li><a target="_blank" href="https://nikzlogz.wordpress.com" class="wow fadeInUp" data-wow-delay=".4s"><i class="fa fa-wordpress"></i></a></li>
                        <li><a target="_blank" href="https://behance.net/nikzjon" class="wow fadeInUp" data-wow-delay=".5s"><i class="fa fa-behance"></i></a></li>
                        <li><a target="_blank" href="https://www.github.com/nikhiljohn10" class="wow fadeInUp" data-wow-delay=".6s"><i class="fa fa-github"></i></a></li>
                        <li><a target="_blank" href="https://in.linkedin.com/in/nikhiljohn10" class="wow fadeInUp" data-wow-delay=".7s"><i class="fa fa-linkedin"></i></a></li>
                        <li><a target="_blank" href="http://steamcommunity.com/id/nikzjon" class="wow fadeInUp" data-wow-delay=".8s"><i class="fa fa-steam"></i></a></li>
                        <li><a target="_blank" href="skype:nikzjon?chat" class="wow fadeInUp" data-wow-delay=".9s"><i class="fa fa-skype"></i></a></li>
                        <li><a target="_blank" href="https://bitbucket.com/nikz10" class="wow fadeInUp" data-wow-delay="1s"><i class="fa fa-bitbucket"></i></a></li>
                        <li><a target="_blank" href="mailto:me@nikz.in" class="wow fadeInUp" data-wow-delay="1.1s"><i class="fa fa-envelope"></i></a></li>
                    </ul>
                    <p class="heart">
                        Made with <span class="fa fa-heart fa-2x animated pulse"></span> in Thrissur
                    </p>
                    <p class="copyright">
                        © 2015 Nikz Jon
                    </p>
                </div>
            </div>
            <!-- .row -->
        </div>
        <!-- .container -->
    </footer>
    <!-- Footer end -->
    <!-- Scroll to top -->
    <div class="scroll-up">
        <a href="#home"><i class="fa fa-angle-up"></i></a>
    </div>
    <!-- Scroll to top end-->
    <!-- Javascript files -->
    <script src="/js/jquery-1.11.1.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/jquery.parallax-1.1.3.js"></script>
    <script src="/js/imagesloaded.pkgd.js"></script>
    <script src="/js/jquery.sticky.js"></script>
    <script src="/js/smoothscroll.js"></script>
    <script src="/js/wow.min.js"></script>
    <script src="/js/jquery.easypiechart.js"></script>
    <script src="/js/waypoints.min.js"></script>
    <script src="/js/jquery.cbpQTRotator.js"></script>
    <script src="/js/custom.js"></script>
</body>

</html>
